instance.cfg
natives
.minecraft/*
!.minecraft/config
.minecraft/config/jei
.minecraft/config/splash.properties
.minecraft/config/CustomSpawner/logs
!.minecraft/mods
!.minecraft/resourcepacks
!.minecraft/scripts
!.minecraft/icon.png
